body {
  color: #696969;
}

.parallax {
  background-image: url("http://i.imgur.com/sXIFbLD.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	/*margin-top: -10px;*/
}

.title {
  font-size: 70px;
  font-family: 'Acme', sans-serif;
}

.scrollable {
    height: 80vh; /* or any value */
    overflow-y: auto;
}
/*.innerDiv {
	width:800px; margin:0 auto;
}*/
