.parallax {
  background-image: url("http://i.imgur.com/sXIFbLD.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	/*margin-top: -10px;*/
}

/*.innerDiv {
	width:800px; margin:0 auto;
}*/
